*.app
.DS_Store
BootstrapFloppy/System.rdump
BootstrapFloppy.dsk
BootServer.INIT*
*.bin
*.tmp
*.pyc
payload

# IDA stuff
*.i64
*.id0
*.id1
*.nam
*.til

packbits
*.pb

ServerDA
ServerDA.idump
ServerDA.rdump
